#pipenv install torch==2.4.0+cu124 torchvision==0.19.0+cu124 torchaudio==2.4.0 -i https://download.pytorch.org/whl/cu124
numpy==1.26.4
tables
pyyaml
matplotlib
pandas
h5py
timm
tensorboard
hydra-core
omegaconf
einops
onnx
lightning